.carousel__foot {
    text-align:center;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
    margin-top: 10px;
    line-height:normal;
}
.store{
    max-width: 120rem;
    margin: 0 auto 5rem auto;
}
.buy__button {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: var(--primary);
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    border-width: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid var(--primary);
    padding: 10px 50px;
    padding-left: -10px;
    transition: background-color;
    transition-duration: .5s;
}

.buy__button:hover{
   background-color: var(--primary);
   color: white;
}

.accessories__heading{
    font-family: var(--primaryFont);
    font-weight: 700;
    color: var(--primary);
    margin-top: 8rem;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-left: 4rem;
    text-align: center;
    margin-bottom: 10rem;

}

.accessories__grid{
    display: grid; /*permite colocar en filas y columnas*//*en un dispositivo movil se vera uns aola columna y muchas filas*/
    gap: 4rem; /*distancia entre cada elemento*/
}

/*tablet*/
@media(min-width: 768px){
    .accessories__grid{
        grid-template-columns: 1fr 1fr; /* tamano de columnas puede poner 600px 800 px o si quieres dejarlos igual poner una fraccion y una fraccion*/ 
    }
}

/*compu*/
@media(min-width: 1200px){
    .accessories__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}*/

/*contenedor del producto*/
.accessory{
    display: grid;
    font-family: 'Dosis', sans-serif;
    column-gap: 1rem;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;;
}

.accessory__name{
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
    text-transform:uppercase;
    text-align: center;
}
.accessory__description{
    font-size: 1.6rem;
    text-align: left;
}
.accessory__price{
    font-size: 3.rem;
    color: black;
    font-weight: 900;
    margin-top: 0%;
    margin-bottom: 2rem;

}

.accesory__picture{
    height: 30rem;
    width: 30rem;
    margin-left: 0.5rem;
    text-align: center;
}

/*usar para la clase zoom*/
.zoom{
    transition: transform 1s;
}
.zoom:hover{
    transform: scale(1.5);
}

/*  CARRITO */
.carrito{
    color: var(--black);
    transform: scale(0);
    position: absolute;
    bottom: -35rem;
    right: 2rem ;
    z-index: 1;
    padding: 1rem;
    border: .1rem solid var(--black);
    background-image: var(--mainGradient);
    border-radius: .7rem;
}

.carrito__tabla{
    background-color: rgb(255, 255, 255, .6);
    color: var(--black);
    width: 100%;
}
.carrito__tabla th{
    text-align: center;
}
.carrito__tabla td{
    border: 1px solid var(--black);
    text-align: center;
    font-size: 1.6rem;
    padding: .5rem;

}
.carrito__vaciar{
    text-align: center;
}
.carrito__botones{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrito__boton{
    color: var(--primary);
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: .1rem solid var(--black);
    padding: .3rem 0;
    margin-bottom: .3rem;
    background-color: rgb(255, 255, 255, .3);
}
.carrito__boton:hover{
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--white);
}

 /*Caroucel*/
 
			.slide {
				position: relative;
				box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
				margin-top: 46px;
			}

			.slide-inner {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: calc( 300px + 3em);
			}

			.slide-open:checked + .slide-item {
				position: static;
				opacity: 100;
			}

			.slide-item {
				position: absolute;
				opacity: 0;
				-webkit-transition: opacity 0.6s ease-out;
				transition: opacity 0.6s ease-out;
			}

			.slide-item img {
				display: block;
				height: auto;
				max-width: 100%;
			}

			.slide-control {
				background: rgba(0, 0, 0, 0.28);
				border-radius: 50%;
				color: #fff;
				cursor: pointer;
				display: none;
				font-size: 40px;
				height: 40px;
				line-height: 35px;
				position: absolute;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				cursor: pointer;
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
				text-align: center;
				width: 40px;
				z-index: 10;
			}

			.slide-control.prev {
				left: 2%;
			}

			.slide-control.next {
				right: 2%;
			}

			.slide-control:hover {
				background: rgba(0, 0, 0, 0.8);
				color: #aaaaaa;
			}

			#slide-1:checked ~ .control-1,
			#slide-2:checked ~ .control-2,
			#slide-3:checked ~ .control-3 {
				display: block;
			}

			.slide-indicador {
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 2%;
				left: 0;
				right: 0;
				text-align: center;
				z-index: 10;
			}

			.slide-indicador li {
				display: inline-block;
				margin: 0 5px;
			}

			.slide-circulo {
				color: #828282;
				cursor: pointer;
				display: block;
				font-size: 35px;
			}

			.slide-circulo:hover {
				color: #aaaaaa;
			}

			#slide-1:checked ~ .control-1 ~ .slide-indicador 
			 	li:nth-child(1) .slide-circulo,
			#slide-2:checked ~ .control-2 ~ .slide-indicador 
			 	 li:nth-child(2) .slide-circulo,
			#slide-3:checked ~ .control-3 ~ .slide-indicador 
			 	 li:nth-child(3) .slide-circulo {
				color: #428bca;
			}

			#titulo {
				width: 100%;
				position: absolute;
				padding: 0px;
				margin: 0px auto;
				text-align: center;
				font-size: 27px;
				color: rgba(255, 255, 255, 1);
				font-family: 'Open Sans', sans-serif;
				z-index: 9999;
				text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
			 	    -1px 0px 2px rgba(255, 255, 255, 0);
			}

