.container.form{
    width: 95%;
    margin-bottom: 50px;

}
@media(min-width:700px){
    .container.form{
        width: 50%;
    }
}

.form-control{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    

}
@media(min-width:700px){
    .form-control{
        width: 85%;
        margin-left: 30px;
    }
}

select{
    width: 40%;
    margin-top: 20px;
    border-radius: 5px;

    border: 1px solid var(--primary);


}
fieldset{

    border-radius: 15px;
    color: hsl(253, 62%, 25%);
    border-color: rgba(95, 21, 107, 0.123);
}
 .btn{
    background-color: white;
    border-radius: 10px;
    color: var(--primary);
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--primary);
    padding: 5px 20px;
    
    transition: background-color;
    transition-duration: .5s;
    
    
}


.btn:hover{
    background-color: var(--primary);
   color: white;
}