:root{
    --primary: #009c88;
    --secondary: #6acca8;
    --third: #7ae659;
    --fourth: #6ac1cc;
    --primaryFont: 'Dosis', sans-serif;
    --secondaryFont: 'Mukta', sans-serif;
    --lightGray: #e1e1e1;
    --black: #000;
    --white: #fff;
    --mainGradient: linear-gradient(to top, rgba(0,156,136,1) 0%, rgba(106,193,204,1) 41%, rgba(106,204,168,1) 73%, rgba(122,230,89,1) 100%);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--primaryFont);
    line-height: 1.5;
}
img {
    max-width: 100%;
    display: block;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin: 2rem 0;
}
/*----------Header-------------*/
.header{
    background-image:var(--mainGradient)
}
.header__grid{
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px){
    .header__grid{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.header__logo{
    margin: 0;
}
.header__nombre{
    font-size: 6.4rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.header__nombre span{
    display: block;
    font-size: 2.2rem;
    margin-top: 0;
}
.header__bar{
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
}
@media(min-width: 768px){
    .header__bar{
        flex-direction: row;
        align-items: flex-end;
        font-size: 1.7rem;

    }
}
.header__navigation{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
@media(min-width: 768px){
    .header__navigation{
        flex-direction: row;
    }
}
.header__link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}
.header__link:hover{
    color: var(--white);
}
.header__link img{
    display: none;
    max-width: 3rem;
}
@media(min-width: 768px){
    .header__link img{
        display: inline;
    }
}
.header__perrito{
    width: 40rem;
    margin-bottom: -4.2rem;
}
@media(min-width: 768px){
    .header__perrito{
        overflow: hidden;
        width: 30rem;
        margin-bottom: -3rem;
    }
}
@media(min-width: 1000px){
    .header__perrito{
        width: 40rem;
        margin-bottom: -4.2rem;
    }
}
.carrito{
    color: var(--black);
    background-color: var(--white);
    transform: scale(0);
    position: absolute;
    z-index: 1;
    padding: 1rem;
    border: .1rem solid var(--black);
}
.navigation{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-top: 3px solid var(--black);
    padding: 3rem 0;
    gap: 2rem;
}
@media(min-width:768px){
    .navigation{
        flex-direction: row;
        justify-content: space-evenly;

    }
}
.navigation__link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black);
    font-size: 2.5;
    text-align: center;
    transition-property: transform;
    transition-duration: .3s;
}
.navigation__link:hover{
    color: var(--primary);
    transform: scale(1.4);
}


/*----------------Footer--------------------*/
.footer{
    background-image: var(--mainGradient);
    border-top: 2px solid var(--black);
}
.footer__grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}
.footer__img{
    max-width: 12rem;
    margin: 0 auto;
}
.footer__nombre{
    margin: 0;
    font-size: 4.4rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.footer__nombre span{
    display: block;
    font-size: 2.2rem;
}
@media(min-width: 768px){
    .footer__grid{
        grid-template-columns: repeat(3, 1fr);
       
    }
}
.footer__heading{
    text-align: center;
}
.footer__texto{
    text-align: center;
}
.footer__media{
    display: flex;
    justify-content: space-evenly;
  
}
.footer__media img{
    width: 5rem;
    height: 5rem;
    transition-property: transform;
    transition-duration: .3s;
}
.footer__media img:hover{
    transform: scale(1.3);
}
