/*Estilos para el container principal */
#total{
    margin-top: 20px;
    margin-bottom: 20px;
 
}
/* Estilos generales container de la lista de servicios*/
#serv{
    min-width: 280px;
    min-height: 360px;
    background-color: #009C88;
    border-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    color: white;
    border-top: 6px solid grey;
    border-right: 6px solid grey;    
}
/*Estilos para la imagen*/
#image{   

    min-width: 280px;
    border-color: black;
    border-bottom: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Estilos para el primer menu*/
#menu{
    width: 45%;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    border-style: none;
    text-align: left;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #009C88;
    transition-duration: .5s;
    transition: background-color;
}
/*Estilos al pasar el cursor sobre las letras del servicio*/
#menu:hover{color: antiquewhite;}

/*Estilos de los iconos*/
#icon{
    margin-left: 15px;
    margin-top: 10px;
    max-width: 70%;
    max-height: 70%;
    border-radius: 100%;
    background-color: #099683;
    border-bottom: beige solid;

}


/*Estilos estandar nav y li*/
.nav li  {
    background: color #009C88;;
    border-color: bisque;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
/*Estilo posicion estandar etiquetas nav, li y ul*/
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
/*Tipo de menu que se despliega*/
.nav li:hover > ul {
    background-color: #009C88;
    display:inline;
    border-style: none;
}
@media only screen and (max-width: 500px){
    .nav li:hover > ul {
        display:block;
        border-style: none;
    }
} 

/*Estilos al resaltar menus secundarios*/
#prim{
    background-color: #077869;
    border-radius: 10px;
}
#sec:hover{
    background-color: #11564d;
    border-radius: 10px;
    color: antiquewhite;
}

