.us{
    margin-top: 5rem;
    background-image: url(../Base/img/dog-5.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;

}
@media(min-width: 768px){
    .us{
        grid-template-columns: repeat(3, 1fr);
    }
}


.us__content{
    background-color: #fff;
    padding: 3rem;
    grid-row: 3/4;
}
@media(min-width: 768px){
    .us__content{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
.us__heading{
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 4.9rem;
    line-height: 1.2;
}
.slider{
    max-width: 120rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
ul{
    list-style: none;
}
.slider__slide{
     height: 100%;
     flex-shrink: 0;
     width: 100%;
     position: relative;
     transition-property: transform;
}
.amigos{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.amigos__heading{
    text-align: center;
    font-weight: 800;
    color: var(--primary);
    font-size: 3.6rem;
}
.amigo__premier .amigo__heading{
    text-align: right;
}
.amigo__imagen{
    max-width: 15rem;
}
.amigo__premier .amigo__imagen{
    display: inline;

}
.amigo__img{
    display: flex;
    justify-content: flex-end;
}
.amigo__boton{
    text-decoration: none;
    display: inline-block;
    color: var(--primary);
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem 3rem;
}
.amigo__boton:hover{
    background-color: var(--primary);
    color: var(--white);
}
#slider__imagen{
    width: 120rem;
}

.container__amigos {
    padding: 5.5rem;
}