 .div{
     display: block;
 }
 
 *{
    
     box-sizing: border-box;
 }

 .TAP{
     text-align: center;
     width: auto;
 }

 .div__origin{
    background-color:#fff!important;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition-property: transform;
 }

 @media (min-width: 1024px){
     .div__origin{
        flex-direction: row;
        justify-content: space-evenly;
     }
 }

 .div__origin2{
    width: auto;
    margin: auto;
    max-width: 1096px;
    position: relative;
    width: auto;
}

 .Text__promotion{
    font-family: var(--primaryFont);
    font-weight: 700;
 }

 .imag__center{
    display: block;
    background-color: #fff;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
 }

 .Conjunt_promos{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition-property: transform;
    display: flex;
    flex-direction: column-reverse;
 }

 @media (min-height: 768px){
    .Conjunt_promos{
        flex-direction: column;

     }    
 }

 .Fond__promotion{
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   transition-property: transform;
   display: flex;
   flex-direction: column-reverse;
 }

 .promos__dogs{
     position: relative;
     padding: 36px;
     float: left;
 }

 @media (min-width: 1024px) {
    .promos__dogs{
        width: 100%;
    }
 }

 @media (min-width: 1024px) {
     .two__dogs{
        float:left;
        width:100%;
        padding: 26px;
        position: relative;
     }
 }
 
 .a{
     background-color: transparent;
     text-decoration: none;
     cursor: pointer;
 }

 .eat__pro{
    display: inline-block;
 }

 @media (min-width:768px){
    .eat__pro{
        width: initial;
     }
 }


 .bones_promo{
     display: inline;
     width: auto;
     max-width: 100%;
     max-height: 50px;
     vertical-align: middle;
     border: 0;
 }

 .guau{
    font-family: var(--primaryFont);
    font-weight: 600;
    color: var(--primary);
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
 }

 .Text__promos{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black);
    font-size: 2.5;
    text-align: center;
    transition-duration: .3s;
 }

.Text__promos:hover{
    color: var(--primary);
    transform: scale(1.3);
}

 .accesory__pro{
    display: inline-block;
 }

 @media (min-width: 768px){
     .accesory_promo{
        width: initial;
     }
 }

 .accery_promo{
    display: inline;
    width: auto;
    max-width: 100%;
    max-height: 50px;
    vertical-align: middle;
    border: 0;
 }

 .Several__several{
    position: relative;
    padding: 25px;
    text-transform: uppercase;
    
 }

 .several__dogs{
    width: 80rem;
}
@media(min-width: 768px){
    .several__dogs{
        overflow: hidden;
        width: 100rem;
        margin-bottom: -3rem;
    }
}

 .Promotion__glob{
    position: relative;
    padding: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
 }

 @media (min-width: 1024px){
     .Several__several{
        flex-direction: row;
        justify-content: space-evenly;
     }
 }

 .Several__origin{
     padding-right: 13px;
     padding-left: 13px;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     width: 100%;
     vertical-align: middle;
 }

 @media (min-width: 858px){
    .promotion__img_1{
        padding: 13px;
    }
 }

 .promotion__img_1{
     height: 410px;
     display: inline-block;
}

 .Med__img{
    max-width:100%;
    max-height:100%;
    display: inline;
 }

 .Promotions__primary{
    font-family: var(--primaryFont);
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    flex-direction: row;
 }