/*Styles for the Welcome section*/

#about-us {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #009C88;
    height: fit-content;
    border-radius: 20px;
    border-color: grey;
    font-size: xx-large;
    border-style: solid;
  /*  box-shadow: inset -10px 8px 10px 2px grey;
*/
    
}

#lft {
    position: relative;
    top: 50px;
    min-width: 95px;
}

#rgt {
    position: relative;
    top: 50px;
    min-width: 95px;
}

/* Styles for the "Form" section */
#form {
    text-align: center;
    height: fit-content;
    margin-top: 70px;
    margin-bottom: 70px;
    
}
/**.form-control{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    

}**/

#sent {

    position: relative;
    top:20px;
    z-index: 1;
    min-width: 150px;
}

#nombre, #tel, #email{
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--primary);
    
}

#data1 {
    text-align: left;
    border-radius: 5px;
    border: 1px solid var(--primary);

}

#submit {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    color: var(--primary);
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    border-width: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid var(--primary);
    padding: 10px 50px;
    padding-left: -10px;
    transition: background-color;
    transition-duration: .5s;
}
#submit:hover{
    background-color: var(--primary);
    color: white;
 }


/* Media queries*/
/*iphoneSE*/
@media only screen and (min-width:375px) and (max-width:376px){
    #about-us{
       font-size: small;
    }
    #ctr{
        position: relative;
        left: 10px;
        width: 173px;
        height: 80px;
    }
    #rgt{
        position: relative;
        right: -10px;

    }
}
/*Galaxy S8+*/
@media only screen and (min-width:360px) and (max-width:360px){
    #about-us{
       font-size: small;
    }
    #ctr{
        position: relative;
        left: 10px;
        width: 150px;
        height: 80px;
    }
    #rgt{
        position: relative;
        right: -10px;

    }
}

/*Galaxy Fold*/
@media only screen and (min-width:280px) and (max-width:280px){
    #about-us{
       font-size: xx-small;
    }
    #lft{
        top: 30px;
    }
    #ctr{
        position: relative;
        width: 84px;
        height: 65px;
    }
    #rgt{
        position: relative;
        top: 30px;
    }
}


/*390px-414px*/
@media only screen and (min-width:390px) and (max-width:414px){
    #about-us{
       font-size: medium;
    }

}
/*540px*/
@media only screen and (min-width:540px) and (max-width:540px){
    #about-us{
       font-size: medium;
    }
}

@media only screen and (max-width:1200px){
    #sent{
        top:17px
    }
    
}

