/*Styles for the Welcome section*/

#about-us {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #009C88;
    height: fit-content;
    border-radius: 20px;
    border-color: black;
    border-style: dotted;
    font-size: xx-large;
}

#lft {
    position: relative;
    top: 50px;
    min-width: 100px;
}

#rgt {
    position: relative;
    top: 50px;
    min-width: 100px;
}

/* Styles for the "Form" section */
#form {
    text-align: center;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
}

#sent {

    position: relative;
    top:3px;
    z-index: 1;
    min-width: 150px;
}

#data {
    font-family: dosis;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

#data1 {
    text-align: left;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#data2 {
    position: relative;
    top: -20px;
    flex-wrap: initial;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 190px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Media queries*/
/*iphoneSE*/
@media only screen and (min-width:375px) and (max-width:376px){
    #about-us{
       font-size: small;
    }
    #ctr{
        position: relative;
        left: 10px;
        width: 173px;
        height: 80px;
    }
    #rgt{
        position: relative;
        right: -10px;

    }
}
/*Galaxy S8+*/
@media only screen and (min-width:360px) and (max-width:360px){
    #about-us{
       font-size: small;
    }
    #ctr{
        position: relative;
        left: 10px;
        width: 150px;
        height: 80px;
    }
    #rgt{
        position: relative;
        right: -10px;

    }
}

/*Galaxy Fold*/
@media only screen and (min-width:280px) and (max-width:280px){
    #about-us{
       font-size: xx-small;
    }
    #lft{
        top: 30px;
    }
    #ctr{
        position: relative;
        width: 84px;
        height: 65px;
    }
    #rgt{
        position: relative;
        top: 30px;
    }
}


/*390px-414px*/
@media only screen and (min-width:390px) and (max-width:414px){
    #about-us{
       font-size: medium;
    }

}

